// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    background-color: $accent-color;
    text-align: center;

    min-height: 20vh;
    margin-top: 4em;

    padding: 1em;
}

footer small{
    color: $primary-color;
    display: block;
}