// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    height: 6vh;
    width: 100vw;

    background-color: $accent-color;
}