
.arrowDown{
  animation: bounce infinite 1s;
}

footer .socialIcon:hover{
  color: #0A1D3C;
  cursor: pointer;
}

#baseProgressBar{
  animation: fadeIn 2s;
}

#progressBar{
  animation: fadeIn 3s;
}


@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(1.5vh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;    
  }
  100% {
    opacity: 1;
  }
}


@keyframes slideDown {
  0%{
    transform: translateY(-50vh);    
  }
  100%{
    transform: translateY(0vh);    
  }
}
@keyframes slideUp {
  0%{
    transform: translateY(0vh);    
  }
  100%{
    transform: translateY(-50vh);    
  }
}



