
.arrowDown{
  animation: bounce infinite 1s;
}

@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(1.5vh);
  }

  100% {
    transform: translateY(0);
  }
}

footer .socialIcon:hover{
  color: #0A1D3C;
  cursor: pointer;
}
