// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page{
    text-align: center;
    margin-top: 20%;
    
    height: 100vh;
    
}