// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-page{
    text-align: center;
    margin-top: 70%;
    
    height: 100vh;

    @include breakpoint-up("medium"){
        margin-top: 10%;
    }
    
}