.about-page{
    background-color: $accent-color;

    text-align: center;
}

.about-page h3{
    color: $primary-color;
    text-align: center;
    padding: 2em 0 0 0;
}

.about-page p{
    padding: 2em 2em 4em 2em;
    margin: 0;
    color: $secondary-color;

    @include breakpoint-up("medium"){
        padding: 2em 5em 4em 5em;
    }
}

.about-highlight{
    color: $primary-color;
}