// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home{
    display: flex;
    flex-direction: column;

    align-items: center;
    height: 100vh;
}

.main-title{
    margin-top: auto;
    padding: 1.5em 3em 0 3em;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); 
    border-radius: 20px;
}

.main-title p {
    margin: 0 0 0.1em 0;
    text-align: end;
    color: $brand-color;
}

.home h1{
    margin-top: auto;    
}


.home button{   

    margin: auto 0 7em 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); 
}