.login-page{
    @include breakpoint-up("large")
    {
        display: flex;
        flex-direction: column;

        height: 100vh;
        width: 100vw;

        justify-content: space-between;
            
    }
}

.desktop-login-page{
    @include breakpoint-up("large"){
        display: grid;
        grid-template-areas: "login logo";
        gap: 5em;
        
        background-color: $primary-color;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);        
        border-radius: 30px;
        margin: auto 10em;

        height: 25em;

        align-content: center;
        
    }
}

.desktop-leftside-container{
    margin-left: 1em;
}

.login-header-desktop{
    display: none;

    @include breakpoint-up("large"){
        display: block;
    }
}

.login-header-mobile{
    @include breakpoint-up("large"){
        display: none;
    }
}

.login-header{
    border-radius: 0 0 50px 0;
    background-color: $primary-color-dark;
    box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 1em 0 2em 0;

    @include breakpoint-up("large"){
        grid-area: logo;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;

        margin: auto 0;
        justify-self: start;
    }
}

//With react-feather doesn't work, but with a real image logo it will...
.login-header img{
    max-width: 10%;
    @include breakpoint-up("large"){
        max-width: 100%;
    }
    
}

.desktop-login-page>:nth-child(2){
    grid-area: login;

    text-align: center;
    justify-self: end;
}

.login-header p{
    margin: 0;
}

.login-footer-container{    
    border-radius: 50px 0 0 0;
    background-color: $primary-color-dark;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);


    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;

    @include breakpoint-up("large")
    {                
        box-shadow: none;
        border-radius: 0;
    }
}


.footer-content{
    margin: 2.5em 0;

    @include breakpoint-up("large"){
        margin: 0;
    }
}

.footer-social-icon>:nth-child(1){
    margin-right: 2em;
}

.footer-copyright{
    margin: 2em 0 0 0;
}

.footer-copyright p{
    color: $accent-color-dark;
    line-height: 0.3em;;
}