// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  background-color: $primary-color;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $accent-color;
  text-decoration: none;
  font-size: 0.7em;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: $accent-color;
  cursor: pointer;
}

h1{
  color: $accent-color;
  font-size: 1.5em;
}

h2{
  color: $accent-color-dark;
  font-size: 0.8em;  
}

p{
  color: $text-color-light;
  font-size: 0.7em;
}