.work-card{
    display: grid;
    
    grid-template-areas: "img"
                          "content";

    margin: 0em 1em 5em 1em;  
    place-items: center;    

    @include breakpoint-up("medium"){
        grid-template-areas: "content img";        
        place-items: normal;
    }
    
}

.work-card h5{    
    grid-area: title;
    font-size: 1em;
    text-align: center;

}

.img-container{
    grid-area: img;    

    @include breakpoint-up("medium"){
        height: 250px;
        width: 400px;
    }
  
}
.img-container img{
    max-width: 100%;    
    border-radius: 16px;
    border: 0.1px black solid;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

    @include breakpoint-up("medium"){
                flex-shrink: 0;
            }
}

.card-content{
    grid-area: content;

    @include breakpoint-up("large")
    {
        display: flex;
        flex-direction: column;

        margin: 0 5em;      

        justify-content: space-around;

    }
}

.card-content p{
    text-align: center;
    font-size: 1em;
    font-weight: 300;

}


.card-content h5{
    @include breakpoint-up("large"){
        margin: 0;
    }
}

.card-content .live-link-container{
    flex-shrink: 0;   
    text-align: center;
}

.img-link:hover{
    opacity: 0.5;
}

.see-live-link::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $accent-color;
    transition: width 0.4s ease-in-out;
  
  }
  
  .see-live-link:hover::before{
    width: 100%;  
    left: 0;
  }