// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    display: flex;
    flex-direction: row;

    color: $accent-color;        
    
    margin-left: 0.5em;
}

header p{
    margin:0;    
}