// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    display: flex;
    flex-direction: row;

    color: $accent-color;        
    
    margin: 0 0.5em 2em 0.5em;

    justify-content: space-between;

}

header .logo{
    text-decoration: none;
    color: $accent-color;
}

.logo{
    margin-top: 0.5em;    
}
