/**
 * Basic typography style for copy text
 */
body {
  color: $accent-color;
  font: normal 125% / 1.4 $text-font-stack;

  font-family: 'Maven Pro', sans-serif;
}

h1,h2{
  font-family: 'Lovers Quarrel', cursive;
  font-size: 2.5em;
}

h3{
  font-family: 'Inder', sans-serif;
}