.desktop-nav{
    display: none;

    @include breakpoint-up("medium"){
        position: fixed;
        z-index: 2;
        top: 50%;        
        transform: translateY(-50%);
        display: block;
    }
}