nav{
    height: 100%;
    display: flex;    
}

nav ul{
    display: flex;
    flex-direction: column;    
    color: $mid-gray;

    margin: 3esm auto 5em auto;    
    justify-content: space-around;

    @include breakpoint-up("medium"){        
        margin: auto 0;
    }
}

nav li{
    font-size: 3em;
    position: relative;

    @include breakpoint-up("medium"){
        font-size: clamp(2em, 7vw, 5em);
    }
}

nav li:hover{
    cursor: pointer;
}

nav li::before{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: $mid-gray;
  transition: width 0.4s ease-in-out;
}

nav li:hover::before{
    width: 100%;  
    left: 0;
  }

nav .highlighted{

    @include breakpoint-up("medium"){
        color: $secondary-color;
        transition: color 0.3s ease-in-out;
    }
    
}