nav{
    height: 100%;
    display: flex;    
}

nav ul{
    display: flex;
    flex-direction: column;    
    color: $secondary-color;

    margin: 3esm auto 5em auto;    
    justify-content: space-around;

    @include breakpoint-up("medium"){        
        margin: auto 0;
    }
}

nav li{
    font-size: 3em;

    @include breakpoint-up("medium"){
        font-size: 5em;
    }
}

nav li:hover{
    cursor: pointer;
    opacity: 0.5;
}

nav .highlighted{
    color: tomato;
}