.work-card-container{
    display: grid;
    grid-template-areas: "img img"
                         "title location";
    margin: 3em 1em;

    @include breakpoint-up("medium"){
        position: relative;

        left: 80%;
        transform: translateX(-80%);
        width: 30%;
        
    }
}

.work-card-info{
    position: relative;    
    height: 100%;    
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;    
    justify-content: center;

    padding: 2em;
    // margin: auto;
  
}

.work-card-info a{
    color: $secondary-color;
    font-weight: bold;
    text-align: center;    
    width: 50%;
    margin: auto;
}

.work-card-info a:hover{
    text-decoration: underline;
}

.work-card-info p{ 
    font-size: 0.8em;
    text-align: center;
}

.work-img{        
    height: 30vh;
    width: 100%;
    background-color: tomato;

    grid-area: img;    
}

.work-img:hover{
    cursor: pointer;
}

.work-card-container>:nth-child(2){
    grid-area: title;
}

.work-card-container>:nth-child(3){
    grid-area: location;    
    justify-self: end;
}