// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header-mobile{
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100vw;
    height: 6vh;
    position: fixed;
    background-color: gray;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    padding: 0.2em;


    @include breakpoint-up("large"){
        display: none;
      }

}

.header-not-mobile p{
    display: none;

    @include breakpoint-up("large"){
      display: block;
      text-align: right;

      margin: 1em 1em 0 0;
      color: green;
    }
}
