// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100vw;
    height: 6vh;
    position: fixed;
    background-color: gray;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    padding: 0.2em;

}
