.search-bar{
    display: flex;
    flex-direction: row;

    align-items: center;
    

    width: 80%;
    height: 2.5em;

    background-color: $secondary-color;    
    border-radius: 0.5em;

    color: $light-text;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
}

.search-bar form{
    display: flex;
    flex: 1;
    margin-left: 0.5em;
    
}

.search-icon{
    margin-left: 0.5em;
}

.x-icon{
    margin-right: 0.5em;
}

.search-bar input{
    flex: 1;    
    width: 100%;
    border: none;
    background-color: $secondary-color;

}

.search-bar input:focus{
    outline: none;
    border: none;
    background-color: $secondary-color;
}


.search-bar input:focus::placeholder{
    color: transparent;
}
