// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
%low-contrast-button{
    color: $accent-color;  
    background-color: transparent;
    border: none;   
    width: 6em;
    height: 2.5em;  
    cursor: pointer; 
}
%high-contrast-button{
    background-color: $accent-color;
    color: $primary-color;
    border: none;
    border-radius: 0.56em;
    width: 6em;
    height: 2.5em;     
    cursor: pointer;
}

.back-button{
   @extend %low-contrast-button;

}

.next-button{
    @extend %high-contrast-button;
}

.next-button-innactive{
    @extend %high-contrast-button;
    background-color: gray;
}

.home-button{
    @extend %high-contrast-button;    
}

.cancel-button{
    @extend %low-contrast-button;
}

.disabled{
    background-color: gray;
    cursor:auto;
}

.edit-button{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: $text-color;
    cursor: pointer;
}