// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.mobile-menu-button {
    border: none;
    background: none;
    color: green;
}