.large-screen-nav{
    
    display: none;

    @include breakpoint-up("large")
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        height: 100vh;
        width: 5vw;
    
        position: fixed;
        top: 0;
        left:0;
        background-color: black;

        margin:0;
        padding: 1em 0 1em 0.3em;

       
    }
}

.large-screen-nav li{
    list-style: none;
    // font-size: 1.3vw;
   
}

.large-screen-nav li:hover{
    text-decoration: underline;
}

.large-screen-nav li:nth-child(1){
    margin-bottom: auto;
    color: green;
}

.large-screen-nav  li:nth-child(5)
{
    margin-top: auto;
     
}

.large-screen-nav li:nth-child(2),
.large-screen-nav li:nth-child(3),
.large-screen-nav li:nth-child(4){
    padding: 1em 0;
    
}