.about-container{
    height: 100vh;
    margin: 3em 1em;
}

.about-container h3{

    text-align: center;    
    @include breakpoint-up("medium"){
        display: none;
    }
}

.about-container p{
    padding-top: 5em;
    text-align: center;
    line-height: 2em;

    @include breakpoint-up("medium"){
        position: relative;

        left: 80%;
        transform: translateX(-80%);
        width: 30%;
    }
}

.about-highlight{
    color: #EA3D37;
}