// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home{
    display: grid;
    grid-template-rows: repeat(auto, fr);    

    justify-items: center;
}

.home > :nth-child(2),
.home > :nth-child(3){
    justify-self: center;
}

.home span{
    display: block;

    @include breakpoint-up("medium"){
        padding-right: 0.2em;
    }
}

.home h1{
    display:flex;
    flex-direction: column;
    text-align: center;

    @include breakpoint-up("medium"){
        flex-direction: row;        
    }
}