// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button{
    color: $text-color;
    background-color: $accent-color;
    border-radius: 20px;
    border: none;
    width: 10em;
    height: 2em;

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover{
    color: $accent-color;
    background-color: $primary-color-dark;
    cursor: pointer;
}