form{
    display: flex;
    flex-direction: column;
    background-color: $primary-color;

}

input{
    width: 15em;
    height: 1.8em;
    margin: 0.2em 0;
    opacity: 0.5;
}

input::placeholder{
    padding: 0.5em;
    font-size: 0.7em;
    color: $primary-color-dark;  
}

form a{
    color: $accent-color-medium;   
    // align-self: flex-end;
    
}

form button{
    align-self: center;
}

form>:nth-child(3){
    align-self: center;
    margin: 1em 0;
}


.mail-password-forgot{
    display: flex;
    flex-direction: column;
    margin:2em auto;
}

.mail-password-forgot a{
    align-self: flex-end;
}

form button{
    width: 15em;
}


form p{
    display: inline;
  }