.home2-container{
    width: 100vw;
    height: 300vh;
    background-color: darkslategray; 
    /* overflow: hidden;    */
}


.box11{    
    position: fixed;
    bottom: 0;
    right: 0;

    width: 50vw;
    height: 5em;
    background-color: black;


    transform: translateY(-50);

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box11 p{    
    color: white;
}

.box12{    
    position: fixed;
    bottom: 0;
    left: 0;

    width: 50vw;
    height: 5em;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container{
    /* position: absolute; */

}


.page{
    /* height: 100vh;
    width: 100vw; */
}

.halfPage{
    height: 25vh;
    width: 100vw;
}

.page1{
    background-color: #faebd7;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.page-hero{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.page-hero h1{
    margin: auto;
    color: black;
    font-size: 12vw;
}

.page1 h2{
    font-size: 3em;
    /* margin-left: 3em; */
    /* align-self: left; */
}

.page1 >:nth-child(2),
.page1 >:nth-child(3),
.page1 >:nth-child(4){
    align-self: center;
}

.sticky-test{
    position: sticky;
    top: 20px;
}

.home2-section{
    height: 100em;
    width: 50vw;
    margin-top: 5em;
    background-color: blueviolet;
}

.home2-section2{
    height: 100em;
    width: 20vw;
    margin-top: 6em;
    background-color: rgb(72, 60, 82);
}

.home2-section3{
    height: 100em;
    width: 20vw;
    margin-top: 7em;
    background-color: rgb(194, 192, 197);
}

.page2{
    background-color: rgb(152, 143, 132);
}
.page3{
    background-color: rgb(28, 27, 24);
}

.page99{
    height: 100vh;
    width: 100vw;
    background-color: tomato;
}