.home3{
    background-color: black;
    height: 300vh;
}

.home3-container{
    position: fixed;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}

.square1{
    width: 50vw;
    height: 20em;

    background-color:violet;
    margin-top: 30%;
}

.square2{
    width: 50vw;
    height: 20em;

    background-color:tomato;
    margin-top: 30%;    
}

.h1-container{
    display: flex;
    justify-content: center;
}

.home3 h1{

    margin-top: 30%;
    color: white;    

}

.home3 p{
    padding: 0 15em;
    margin-top: 20%;
    color: aliceblue;
}