.service-form{
    display: flex;
    flex-direction: column;

    max-width: 50%;
    margin: auto auto;
}

.service-form label{
    margin-bottom: 1em;
}

.service-form select{
    border: none;
    background-color: $box-accent-color;
    border-radius: 3em;
    height: 2.5em;
    width:15em;

    text-align: center;
}

.service-form h4{
    margin-bottom: 1em;
}

