.summary-container{
    margin:  0 2em;
}

.section-summary-container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.section-summary-container > :nth-child(2){
    margin: auto 0;
    justify-self: end;
}


.content-summary-container{
    grid-column: 1 / span 3;
    border-radius: 1em;
    background-color: rgb(214, 214, 214);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-data{
    color: red;    
}

.personal-info-summary-container p{
    display: grid;
    grid-template-columns: 1fr 1fr;

}