*{
    margin: 0;
    padding: 0;
}

/* **** */
/* BODY */
/* **** */
body{
    display: flex;
    height: 100vh;
    flex-direction: column;

    /* heigh: 100vh indicates that the <body> will occupy the whole viewport.
    Meaning that later, it will be possible to use flex: 1 for example to occupy the remainig free space. */
}


/* ****** */
/* HEADER */
/* ****** */
header{
    padding: 2em 0 2em 0;

    background-color: bisque;
}


header img{
    display: block;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;

    /* margin-left/right to be used with block elements */
}

/* *** */
/* NAV */
/* *** */
nav{
    background-color: #b3c7c1;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li{

    padding: 2em;
    
    text-transform: uppercase;
}


nav a{
    text-decoration: none;
    color: tomato;
    background-color: bisque;
    border-radius: 1.5em;

    padding: 1em;
}

nav a:hover{
    background-color: tomato;
    color: bisque;

    transition: 0.5s;
}

nav a:active{
    color: black;
}

/* **** */
/* MAIN */
/* **** */

main{
    display: flex;
    flex-direction: column;

    flex: 1; 

    padding: 2em 0 2em 0;

    background-color: #ffe4c4;
  
}

.main-promo{
    /* margin-left: auto;
    margin-right: auto; */
    height: 20vh;
    text-align: center;


}

.main-photos{ 
    display: flex;

    justify-content: center;
    margin: 4em;    
}

.main-photos img{
    max-width: 15em;
}

.main-photos article{
    text-align: center;
    flex: 1 1 0;
    
}

/* ****** */
/* FOOTER */
/* ****** */

footer{
    display: flex;
    justify-content: space-evenly;

    padding: 1em 0 1em 0;

    background-color: #b3c7c1;  
}

.footer-logo img{
    max-width: 5em;
}

.footer-copyright
{
    /* Same block + auto auto combo to align element in the center */
    display: block;

    margin-top: auto;
    margin-bottom: auto;
}
