.swiper {
  width: 100%;
  margin: 5em 5em 10em 5em;
}

.swiper-slide {
  /* to config */

}

.swiper-slide img {
  width: 80%;
}

.swiper-slide img:hover{
  width: 85%;
}

/* So that the pagination does't get too close to the images */
.swiper-pagination{
  /* bottom: -20px !important; */

  
}

.swiper-pagination-bullet{
  background-color: green !important;
}

.swiper-pagination-bullet-active {
  background-color: green !important;
}

a:hover{
  color: #FF10F0;

  
}